@Html.Partial("_Header")



@RenderBody()

@Html.Partial("_Footer")






@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

    </div>
</body>
</html>
