@model Cozastore.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaBanNhoNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaBanNhoNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGiaBanLonNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGiaBanLonNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaNgan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaNgan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiBat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiBat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanLoai.PhanLoaiChinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoai.PhanLoaiChinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanLoaiPhu.TenPhanLoaiPhu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoaiPhu.TenPhanLoaiPhu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
