<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Alazea - Gardening &amp; Landscaping HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/Content/style.css">

</head>
@Html.Partial("_Header")

<div class="body-content">
    @RenderBody()
</div>

@Html.Partial("_Footer")



<script src="~/Scripts/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="~/Scripts/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="~/Scripts/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="~/Scripts/js/active.js"></script>
@*cmt stt-5 trong file active.js*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</body>
</html>
