@Html.Partial("_Header")

<div class="body-content">
    @RenderBody()
</div>

@Html.Partial("_Footer")



<script src="~/Scripts/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="~/Scripts/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="~/Scripts/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="~/Scripts/js/active.js"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</body>
</html>
