@model Amado.SanPham
    @{ 
        Layout = "~/Views/Shared/_Layout.cshtml";
    }



<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                        <li class="breadcrumb-item"><a href="#">Chairs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Html.DisplayFor(model => model.TenSanPham)</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0">
                                <img src="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)">
                            </li>
                            <li class="active" data-target="#product_details_slider" data-slide-to="0">
                                <img src="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)">
                            </li>
                            <li class="active" data-target="#product_details_slider" data-slide-to="0">
                                <img src="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)">
                            </li>
                            <li class="active" data-target="#product_details_slider" data-slide-to="0">
                                <img src="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)">
                                    <img class="d-block w-100" src="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)">
                                    <img class="d-block w-100" src="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)g">
                                    <img class="d-block w-100" src="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)">
                                    <img class="d-block w-100" src="~/Content/img/product-img/@Html.DisplayFor(model => model.AnhDaiDien)" alt="Fourth slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price"> @Html.DisplayFor(model => model.DonGiaBanNhoNhat)</p>
                        <a href="product-details.html">
                            <h6>@Html.DisplayFor(model => model.TenSanPham)</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#">Write A Review</a>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                    </div>

                    <div class="short_overview my-5">
                        <p> @Html.DisplayFor(model => model.MoTaNgan)</p>
                    </div>

                    <!-- Add to Cart Form -->
                    <form class="cart clearfix" method="post">

                        @Html.ActionLink("Sửa Sản Phẩm", "Edit", new { id = Model.MaSanPham }, new { @class = "btn amado-btn" })

                        @Html.ActionLink("Xoá Sản Phẩm", "Delete", new { id = Model.MaSanPham }, new { @class = "btn amado-btn" })

                        @Html.ActionLink("Trở về", "Index", "Home", null, new { @class = "btn btn-primary" })
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
    </div>
<!-- ##### Main Content Wrapper End ##### -->
<!-- ##### Newsletter Area Start ##### -->

